# Compiled Latex files
*.aux
*.blg
*.bcf
*.acn1
*.bbl
*.log
*.idx
*.glo
*.lof
*.xml
*.toc
*.xdy

# Compiled with VS Code
*.fls
*.ilg
*.ind
*.fdb_latexmk

# Ignore produced report
rapport/rapport.pdf

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# pythonic files
__pycache__
*.pyc
